extends layout

block content
  h1 NuevaMatricula
  p Alta de nueva asignatura
  form(id="newAsignatura")
    input(type="text", name="nombre")
    input(type="text", name="numHoras")
    <select>
      <option id="01">Profe</option>
      <option id="01">Profe</option>
    </select>
    <select> 
      <option id="01">Ivan</option>
      <option id="02">Jorge</option>
    </select> 
    input(type="submit")

